extends ../layout

block content
    h1=title

    p Title: #{book.title}
    p Author: #{book.author}
    p Genre: #{book.genre}
    p Year: #{book.year}
    a(href="../") &larr; Back
    | | 
    a(href="/books/" + book.id + "/update") Update Book
    | | 
    a(href="/books/" + book.id + "/delete") Delete Book