extends layout

block content
  .search-container
    input#myInput(type='text', onkeyup='searchOn()', placeholder='Search for books..')
  h1= title
  p
    a.button(href="/books/new") Create New Book
    table#table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
      each book in books
        tr
          td
            a(href="/books/" + book.id) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}

  //- search function
  script.
    function searchOn() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
    tr[i].style.display = "";
    } else {
    tr[i].style.display = "none";
    }
    }
    }
    }  